body{
  font-family: Arial, Helvetica, sans-serif;
  background: #829460;
  padding: 0;
  margin: 0; 
}
/* untuk header beserta nav */
.container{
  width: 100%;
  height: auto;
  background: #413F42;
  margin:auto;
  margin-top: 0px;
  margin-right: 0px;
}
.header {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family:'Consolas';
  color: white;
  margin-left: 10px;

  
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #413F42;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* untuk halaman beranda */
section {
  margin: auto;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}

.kolom {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
}

.kolom .deskripsi {
  font-size: 30px;
  font-weight: bold;
  font-family: 'consolas';
  color: white;
  margin-top: 200px;
  margin-left: 180px;
}

p {
  font-size: 15px;
  font-weight: normal;
  font-family: 'consolas';
  color: white;
  line-height: 5%;
  margin-left: 180px;
}

a.tbl-yellow {
  background: #EFD345;
  border-radius: 30px;
  margin-top: 350px;
  margin-left: 180px;
  margin-bottom: 0px;
  padding: 5px 15px 10px 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
}

a.tbl-yellow:hover {
  background: #413F42;
  text-decoration: none;
}

/* untuk halaman produk */
.badan {
  width: 700px;
  margin: 35px auto;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}
  
.badan h2 {
  color: #876445;
  border-bottom: 1px solid gainsboro;
  margin: 5px;
  margin-bottom: 13px;
}
  
.list-produk {
  border: 1px solid gainsboro;
  padding: 10px;
  float: left;
  width: 200px;
  margin: 5px;
}
  
.list-produk:hover {
  transition-duration: 700ms;
  box-shadow: 5px 5px gainsboro;
}
  
.list-produk img {
  width: 100%;
  height: 175px;
  display: block;
  margin-bottom: 5px;
}
  
.list-produk h4, .list-produk h5 {
  color: black;
  text-align: center;
  margin-bottom: 5px;
}
  
.tombol {
  text-decoration: none;
  border-radius: 10px;
  padding: 7px;
  display: block;
  float:left;
  width: 45%;
  margin: 4px;
  text-align: center;
  color: white;
  font-size: 80%;
  margin-left: 50px;
}
  
.tombol:hover {
    background-color: #224B0C;
    transition-duration: 700ms;
}
  
.tombol-detail {
    background-color: green;
}
  
.tombol-keranjang {
    background-color: red;
}



/* untuk halaman detail produk */
section {
  margin: auto;
  display: flex;
  margin-bottom: 100px;
  margin-top: 10px;
}

img {
  margin-top: 50px;
width: 40%;
}

.colomn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}

.colomn .buah {
  font-size: 50px;
  font-weight: bold;
  font-family:'consolas';
  color: white;
  margin-top: 50px;
}

h2 {
  font-family: 'consolas';
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
  width: 100%;
  line-height: 20px;
  margin-top: 0px;
}
.ul {
  font-family: 'consolas';
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
  width: 100%;
  line-height: 20px;
  margin-top: 0px;
}

a.tbl-red {
  background: red;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 0px;
  padding: 10px 15px 10px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  float: right;
  width: 20%;
  font-size: 70%;
}

a.tbl-red:hover {
  background: yellow;
    text-decoration: none;
}

/* untuk halaman about me */

.aboutme img {
  background-size: 10000px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'consolas';
  color: white;
  margin-top: 10px;
  margin-left: 200px;
  margin-bottom: 0px;
  width: 100%;
}

p {
  font-size: 15px;
  font-weight: normal;
  font-family: 'consolas';
  color: white;
  line-height: 5%;
  margin-left: 180px;
  
}

/* untuk halaman footer */
footer{
  background-size: inherit;
  background: #413F42;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 150px;
  display: block;
  position: static;

}

footer .content{
  max-width: 1000px;
  margin:auto;
  padding: 5px 40px 5px 40px;
}

footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content .link-boxes .box .link-nama{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.link-boxes .box .link-nama::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li{
  margin: 10px 0;
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}

footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  /* float: right; */
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.content-bawah .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content-bawah .bottom_text a{
  margin-right: 10px;
}

@media screen and (max-width:680px){

	#maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

 

   